# Part1

# Task1

In [ ]:
import pandas as pd

# Load Kaggle dataset (example: Titanic)
df = pd.read_csv("titanic.csv")

# Print shape
print("Shape:", df.shape)

# Column names
print("\nColumns:\n", df.columns)

# First 5 rows
df.head()

# Task2

In [ ]:
import json

data = [
    {"id": 1, "product": "Laptop", "price": 50000},
    {"id": 2, "product": "Phone", "price": 25000},
    {"id": 3, "product": "Tablet", "price": 30000}
]

with open("products.json", "w") as f:
    json.dump(data, f)

df_json = pd.read_json("products.json")
df_json

# Task3

In [ ]:
import sqlite3

conn = sqlite3.connect("company.db")
cur = conn.cursor()

cur.execute("""
CREATE TABLE employees(
    id INTEGER,
    name TEXT,
    department TEXT,
    salary INTEGER
)
""")

cur.executemany("INSERT INTO employees VALUES (?, ?, ?, ?)", [
    (1,"Amit","HR",30000),
    (2,"Riya","IT",50000),
    (3,"Kunal","Sales",40000),
    (4,"Neha","IT",60000),
    (5,"Rahul","HR",35000)
])

conn.commit()

df_sql = pd.read_sql("SELECT * FROM employees", conn)
df_sql

# Task4

In [ ]:
import requests

API_KEY 

res = requests.get(url).json()

movies = []
for m in res["results"]:
    movies.append({
        "title": m["title"],
        "release_date": m["release_date"],
        "rating": m["vote_average"],
        "popularity": m["popularity"]
    })

df_movies = pd.DataFrame(movies)
df_movies.to_csv("tmdb_movies.csv", index=False)

df_movies.head()

# Part2

# Task5

In [ ]:
df.shape
df.dtypes

num_cols = df.select_dtypes(include=["int64","float64"]).columns
cat_cols = df.select_dtypes(include=["object"]).columns

df.isnull().sum()

# Task6

In [ ]:
# Fill missing values
for col in num_cols:
    df[col].fillna(df[col].median(), inplace=True)

for col in cat_cols:
    df[col].fillna(df[col].mode()[0], inplace=True)

# Remove duplicates
df.drop_duplicates(inplace=True)

# Rename columns
df.columns = df.columns.str.lower().str.replace(" ", "_")

# Fix datatypes
df["age"] = df["age"].astype(int)

# Task7

In [ ]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df["sex"] = le.fit_transform(df["sex"])

X = df.drop("survived", axis=1)
y = df["survived"]

# Part3

# Task8

In [ ]:
for col in num_cols:
    sns.histplot(df[col], kde=True)
    plt.show()

for col in cat_cols:
    sns.countplot(x=df[col])
    plt.show()

sns.boxplot(data=df[num_cols])
plt.show()

# Task9

In [ ]:
# Scatter
sns.scatterplot(x=df["age"], y=df["fare"])
plt.show()

# Correlation heatmap
sns.heatmap(df[num_cols].corr(), annot=True)
plt.show()

# Bar plot
sns.barplot(x="sex", y="survived", data=df)
plt.show()

# Box plot
sns.boxplot(x="pclass", y="fare", data=df)
plt.show()

# Task10

In [ ]:
1. Higher fare passengers had better survival chances.
2. Females survived more than males.
3. Younger passengers survived more.
4. Fare has strong outliers.
5. Strong correlation between class and survival.